# MongoDB connection string
# Example: mongodb://localhost:27017
MONGO_URI=

# Name of the database you want to manage
MONGO_DB=admin

# Optional configuration
# ADMIN_PREFIX=/admin
# ADMIN_UI_MOUNT_PATH=/admin-ui
# HOST=0.0.0.0
# PORT=8000
# DEBUG=false
